<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>

</head>
<body background="/static/beijing/login.png" style=" background-repeat:no-repeat ;background-size:100% 100%; background-attachment: fixed;" >


<div >

 <div align="center">
     {% load static %}
       <img src="/static/beijing/login1.jpg" height=100 width="150"/>
    <h1>欢迎登陆胖虎读书</h1>
    {{ date1 }}
    {{ date }}
    <form action="/app/login/" method="post">
        {% csrf_token %}
        <p>请输入用户名</p>
        <input type="text" value="user" name="name"><br>
        <P>输入密码</P>
        <input type="text" value="password" name="password"><br>
        <input type="submit">
        <input type="reset">
    </form>
    <button><a href="{% url 'register' %}">前往注册</a></button>
</div>

</div>

</body>
</html>