<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body background="/static/beijing/create_book.jpg"
      style=" background-repeat:no-repeat ;background-size:100% 100%; background-attachment: fixed;">

<div align="center">
    <p>小说名{{ bookname }}</p>
    <p>作者{{ author }}</p>
    <p>小说编号{{ ID }}</p>
</div>


<div align="center">
 <form action="/app/write_book/{{ ID  }}/{{ bookname }}/{{ author }}/" method="post">
        {% csrf_token %}
        <p>章节序号</p>
        <input type="text"  name="title_number"><br>
         <p>章节名称</p>
        <input type="text"  name="title_name"><br>
        <P>正文内容</P>
        <input type="text"  name="title_contant"><br>
        <input type="submit">
        <input type="reset">
    </form>
</div>



</body>
</html>